main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  //   background: var(--secondary-color);
}
.skill-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // width: 60%;
}

.content {
  width: 40%;
  .title {
    font-weight: 2.5rem;
    color: var(--font-color);
  }

  .description {
    margin-top: 20px;
    color: grey;
    font-size: 1.2rem;
    // line-height: 15px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin-top: 20px;
  gap: 20px;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;

  margin-top: 20px;
  border: 1px solid #ead5b22e;
  padding: 20px;
  border-radius: 10px;

  .icon {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .card-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
  }

  .card-description {
    text-align: left;
    color: grey;
    font-size: 1rem;
  }
}

.card:hover {
  transition: 0.3s ease;
  //   transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 738px) {
  .content {
    width: 90%;
    .title {
      font-weight: 2rem;
      color: var(--font-color);
    }
  }

  .card {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
  }

  .card-title {
    font-size: 0.8rem;
    // text-align: left;
    text-align: center !important;
  }

  .card-description {
    text-align: center !important;
  }
}
